<html>
<body><div id="head" style="position:relative; top: 5px; background-color: #13d6b8;width:100%" >
    <table border="1" width="100%">
    <tr>
        <td align="center">
            <h2>Remote Access Application</h2>
        </td>
    </tr>
</table>
</div>
{% block content %}
{% endblock %}
<div id="foot" style="position:absolute; bottom: 2px; background-color: #13d6b8; width:100%; height=5%" >
<table border="1" width="100%">
    <tr>
        <td align="center" >
            <h3>Footer</h3>
        </td>
    </tr>
</table>

</div>
</body>
</html>