<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1" width="100%">
    {% for key,value in dict.items %}
    <tr>
        <td>{{ key }}</td>
        {% if key == 'result' %}
            <td>
                <ul>
            {% for i in value %}
                    <li>{{ i }}</li>
            {% endfor %}
                    </ul>
            </td>
        {% else %}
        <td>{{ value }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</body>
</html>